// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";

// BS default map overrides here
$danger: #d51f27;
$black: #010203;
$dark: #141414;
$list-group-color: whitesmoke;
$list-group-bg: transparent;
$list-group-border-color: whitesmoke;
$list-group-active-color: $danger;

// Additional custom code here
@font-face {
  font-family: "RedHatText";
  src: url("../fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
}
@font-face {
  font-family: "RedHatText Italic";
  src: url("../fonts/RedHatText-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
}
@font-face {
  font-family: "Berkshire Swash";
  src: url("../fonts/BerkshireSwash-Regular.ttf") format("truetype");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
}
@font-face {
  font-family: "Gloock";
  src: url("../fonts/Gloock-Regular.ttf") format("truetype");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
}

body {
  // font-family: "DMSans";
  font-family: "RedHatText";
  // font-family: "Inter";
  background-color: $black;
}
.fst-italic,
em,
i {
  // font-family: "DMSans Italic";
  font-family: "RedHatText Italic";
}

header {
  background-image: url("../img/Jembatan-Soekarno-Manado-1.jpg");
  // background-image: linear-gradient(180deg, #434343 0, $black 80%),
  //   url("../img/Jembatan-Soekarno-Manado-1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  // border-radius: 0% 100% 28% 72% / 32% 0% 100% 68%;
  height: 75vh;
}

main {
  margin-top: -7em;
}

#investasi {
  // &::before {
  //   content: "";
  //   background: linear-gradient(45deg, #e9fcff 30%, #fdf2ed 60%);
  //   clip-path: polygon(0 3vw, 100% 0, 100% calc(100% - 3vw), 0 100%);
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   height: 70%;
  //   z-index: -1;
  // }
  background: linear-gradient(45deg, #fefbe4, #fdf0eb);
  clip-path: polygon(0 3vw, 100% 0, 100% calc(100% - 3vw), 0 100%);

  .container {
    padding-top: 7em;
    padding-bottom: 7em;
  }
}

.main-heading {
  background-color: $danger;
  color: white;

  .nav {
    .list-group-item {
      background-color: $list-group-bg;
      color: $list-group-color;
      cursor: pointer;

      &:hover {
        background-color: $red-500;
      }

      &.active {
        border-color: $list-group-border-color;
        background-color: $light;
        color: $list-group-active-color;
      }
    }
  }
}

.p-5e {
  padding: 5em;
}

.text-script {
  font-family: "Berkshire Swash";
  letter-spacing: -2px;
}

.text-serif {
  font-family: "Gloock";
}

.nav-pills {
  .nav-link {
    border-radius: 0;
    color: $light;

    &.active {
      background-color: $danger;
      font-weight: bold;
      border-bottom: 1px solid $light;
    }
  }
}
