<aside class="col-sm-4">
    <section class="main-heading py-5 px-1">
        <h2 class="display-5 text-center text-serif lh-1">Demografi</h2>
    </section>
</aside>
<div class="demografi-field shadow col-sm-8 text-bg-light">
    <div class="demografi-content p-5e">
        <div class="d-flex flex-wrap">
            <article class="d-flex flex-column shadow-sm p-3 me-2 mb-2">
                <h3 class="order-3 fs-5">Luas Wilayah</h3>
                <p class="order-2 mb-0 display-6 fw-bold">13.851,64 km<sup>2</sup></p>
                <p class="order-1"><i class="fa-solid fa-map-location"></i></p>
            </article>
            <article class="d-flex flex-column shadow-sm p-3 me-2 mb-2">
                <h3 class="order-3 fs-5">Jumlah Penduduk</h3>
                <p class="order-2 mb-0 display-6 fw-bold">2.621.923 Jiwa</p>
                <p class="order-1"><i class="fa-solid fa-people-group"></i></p>
            </article>
            <article class="d-flex flex-column shadow-sm p-3 me-2 mb-2">
                <h3 class="order-3 fs-5">Jumlah Kabupaten Kota</h3>
                <p class="order-2 mb-0 display-6 fw-bold">15</p>
                <p class="order-1"><i class="fa-solid fa-layer-group"></i></p>
            </article>
        </div>
    </div>
</div>