<div class="container">
    <div class="text-center d-flex justify-content-between py-5 text-light">
        <div>
            © 2024<script>new Date().getFullYear()>2024&&document.write("-"+new Date().getFullYear());</script> Pemerintah Provinsi Sulawesi Utara
        </div>
        <div>
            Dibuat dengan ❤️ di Manado oleh <a href="https://diskominfo.sulutprov.go.id/" target="_blank" rel="noopener noreferrer">DKIPS Sulut</a>.
        </div>
    </div>
</div>