{{ $bitung := resources.Get "/img/master-plan-kek-bitung.jpg" }}
{{ $likupang := resources.Get "/img/master-plan-kek-likupang.jpg" }}

<aside class="col-sm-4">
    <section class="main-heading pt-5">
        <h2 class="display-5 text-center text-serif lh-1 mb-5">Investasi</h2>
        <menu class="nav list-group list-group-flush" id="v-bitung-tab" role="tablist" aria-orientation="vertical">
            <li class="nav-link active py-4 ps-5 list-group-item d-flex justify-content-between align-items-center" id="v-pills-bitung-tab" data-bs-toggle="pill" data-bs-target="#v-pills-bitung" role="tab" aria-controls="v-pills-bitung" aria-selected="true">
                KEK Bitung
                <span class="fa-solid fa-angle-right"></span>
            </li>
            <li class="nav-link py-4 ps-5 list-group-item d-flex justify-content-between align-items-center" id="v-pills-likupang-tab" data-bs-toggle="pill" data-bs-target="#v-pills-likupang" role="tab" aria-controls="v-pills-likupang" aria-selected="false">
                KEK Likupang
                <span class="fa-solid fa-angle-right"></span>
            </li>
        </menu>
    </section>
</aside>
<div class="investasi-field shadow col-sm-8 text-bg-light">
    <div class="investasi-content p-5e">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-bitung" role="tabpanel" aria-labelledby="v-pills-bitung-tab" tabindex="0">
                <img src="{{ $bitung.Permalink }}" alt="Master Plan KEK Bitung" class="rounded img-fluid mb-4" />
                <p>
                    The Bitung SEZ is located in North Sulawesi Province and is stipulated through Government Regulation Number 32 of 2014. The Bitung SEZ has a very strategic location and is an economic gateway to countries in the Asia Pacific. This accessibility is supported by the Bitung International Hub Port as a trade hub for the Eastern Region of Indonesia. Located 44 km from the capital Manado, the Bitung SEZ is expected to become a center for growth and distribution of goods as well as logistics support in the eastern region of Indonesia.
                </p>
                <p>
                    With a total area of 534 ha, the Bitung SEZ is based on the regional commodity advantages of North Sulawesi Province. As one of the largest fish producers in Indonesia, the Bitung SEZ focuses on the fisheries processing industry to produce international quality export commodities. Apart from fisheries, the Bitung SEZ also focuses on the coconut industry and its derivative products which have a very wide market and are in demand both on a national and international scale.
                </p>
                <p>
                    Based on regional potential and geostrategic advantages, the Bitung SEZ is expected to encourage downstreaming and boost the competitiveness of the fisheries, agro and pharmaceutical sectors and is projected to attract investment of IDR 32.89T and is projected to absorb a workforce of 34,710 workers by 2025.
                </p>
                <div class="d-flex flex-wrap">
                    <article class="d-flex flex-column border p-3 me-2 mb-2">
                        <h3 class="order-3 fs-5">Luas Area</h3>
                        <p class="order-2 mb-0 display-6 fw-bold">534 ha</p>
                        <p class="order-1"><i class="fa-solid fa-map-location"></i></p>
                    </article>
                    <article class="d-flex flex-column border p-3 me-2 mb-2">
                        <h3 class="order-3 fs-5">Target Investasi</h3>
                        <p class="order-2 mb-0 display-6 fw-bold">32,89 Trillion Rupiah</p>
                        <p class="order-1"><i class="fa-solid fa-people-group"></i></p>
                    </article>
                    <article class="d-flex flex-column border p-3 me-2 mb-2">
                        <h3 class="order-3 fs-5">Target Pekerja</h3>
                        <p class="order-2 mb-0 display-6 fw-bold">34.710</p>
                        <p class="order-1"><i class="fa-solid fa-layer-group"></i></p>
                    </art>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-likupang" role="tabpanel" aria-labelledby="v-pills-likupang-tab" tabindex="0">
                <img src="{{ $likupang.Permalink }}" alt="Master Plan KEK Likupang" class="rounded img-fluid mb-4" />
                <p>
                    Keunggulan geoekonomi bertumpu pada lokasi Likupang Timur di Kabupaten Minahasa Utara memiliki orientasi geografis wilayah berdekatan dengan Bandara Internasional Sam Ratulangi dan pelabuhan Bitung.
                </p>
                <p>
                    Keunggulan geostrategis wilayah yang dimitiki Likupang Timur yaitu sektor pariwisata dengan tema resor (<i lang="en">resort</i>) dan wisata budaya (<i lang="en">cultural tourism</i>). Tema tersebut didukung oleh kawasan sekitar yang memiliki pantai dan dekat dengan Wallace Conservation Center. Konsep Kawasan Ekonomi Khusus Likupang akan mengembangkan resor kelas premium dan kelas menengah (<i lang="en">mid range resort</i>), budaya (<i lang="en">cultural</i>), dan pengembangan Wallace Conservation.
                </p>
                <div class="d-flex flex-wrap">
                    <article class="d-flex flex-column shadow-sm p-3 me-2 mb-2">
                        <h3 class="order-3 fs-5">Luas Area</h3>
                        <p class="order-2 mb-0 display-6 fw-bold">197.4 ha</p>
                        <p class="order-1"><i class="fa-solid fa-map-location"></i></p>
                    </article>
                    <article class="d-flex flex-column shadow-sm p-3 me-2 mb-2">
                        <h3 class="order-3 fs-5">Target Investasi</h3>
                        <p class="order-2 mb-0 display-6 fw-bold">5 Trillion Rupiah</p>
                        <p class="order-1"><i class="fa-solid fa-people-group"></i></p>
                    </article>
                    <article class="d-flex flex-column shadow-sm p-3 me-2 mb-2">
                        <h3 class="order-3 fs-5">Target Pekerja</h3>
                        <p class="order-2 mb-0 display-6 fw-bold">33.262</p>
                        <p class="order-1"><i class="fa-solid fa-layer-group"></i></p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>