{{ $bitung := resources.Get "/img/logo-bitung.png" }}
{{ $bolmong := resources.Get "/img/logo-bolmong.png" }}
{{ $bolmut := resources.Get "/img/logo-bolmut.png" }}
{{ $bolsel := resources.Get "/img/logo-bolsel.png" }}
{{ $boltim := resources.Get "/img/logo-boltim.png" }}
{{ $kotamobagu := resources.Get "/img/logo-kotamobagu.png" }}
{{ $manado := resources.Get "/img/logo-manado.png" }}
{{ $minahasa := resources.Get "/img/logo-minahasa.png" }}
{{ $minsel := resources.Get "/img/logo-minsel.png" }}
{{ $minut := resources.Get "/img/logo-minut.png" }}
{{ $mitra := resources.Get "/img/logo-mitra.png" }}
{{ $sangihe := resources.Get "/img/logo-sangihe.png" }}
{{ $siau := resources.Get "/img/logo-siau.png" }}
{{ $talaud := resources.Get "/img/logo-talaud.png" }}
{{ $tomohon := resources.Get "/img/logo-tomohon.png" }}

<aside class="col-sm-4">
    <section class="main-heading py-5 px-1">
        <h2 class="display-5 text-center text-serif lh-1">Kabupaten<br />Kota</h2>
    </section>
</aside>
<div class="kabkota-field col-sm-8 text-bg-light">
    <div class="kabkota-content p-5e">
        <div class="d-flex flex-wrap">
            <div class="shadow-sm p-3 me-2 mb-2">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img height="30" src="{{ $minahasa.Permalink }}" alt="Logo Kab. Minahasa">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Kab. Minahasa
                    </div>
                </div>
            </div>
            <div class="shadow-sm p-3 me-2 mb-2">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img height="30" src="{{ $minsel.Permalink }}" alt="Logo Kab. Minahasa Selatan">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Kab. Minahasa Selatan
                    </div>
                </div>
            </div>
            <div class="shadow-sm p-3 me-2 mb-2">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img height="30" src="{{ $minut.Permalink }}" alt="Logo Kab. Minahasa Utara">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Kab. Minahasa Utara
                    </div>
                </div>
            </div>
            <div class="shadow-sm p-3 me-2 mb-2">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img height="30" src="{{ $mitra.Permalink }}" alt="Logo Kab. Minahasa Tenggara">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Kab. Minahasa Tenggara
                    </div>
                </div>
            </div>
            <div class="shadow-sm p-3 me-2 mb-2">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img height="30" src="{{ $bolmong.Permalink }}" alt="Logo Kab. Bolmong">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Kab. Bolmong
                    </div>
                </div>
            </div>
            <div class="shadow-sm p-3 me-2 mb-2">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img height="30" src="{{ $bolmut.Permalink }}" alt="Logo Kab. Bolmong Utara">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Kab. Bolmong Utara
                    </div>
                </div>
            </div>
            <div class="shadow-sm p-3 me-2 mb-2">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img height="30" src="{{ $bolsel.Permalink }}" alt="Logo Kab. Bolmong Selatan">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Kab. Bolmong Selatan
                    </div>
                </div>
            </div>
            <div class="shadow-sm p-3 me-2 mb-2">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img height="30" src="{{ $boltim.Permalink }}" alt="Logo Kab. Bolmong Timur">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Kab. Bolmong Timur
                    </div>
                </div>
            </div>
            <div class="shadow-sm p-3 me-2 mb-2">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img height="30" src="{{ $sangihe.Permalink }}" alt="Logo Kab. Kep. Sangihe">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Kab. Kep. Sangihe
                    </div>
                </div>
            </div>
            <div class="shadow-sm p-3 me-2 mb-2">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img height="30" src="{{ $talaud.Permalink }}" alt="Logo Kab. Kep. Talaud">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Kab. Kep. Talaud
                    </div>
                </div>
            </div>
            <div class="shadow-sm p-3 me-2 mb-2">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img height="30" src="{{ $siau.Permalink }}" alt="Logo Kab. Kep. Sitaro">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Kab. Kep. Sitaro
                    </div>
                </div>
            </div>
            <div class="shadow-sm p-3 me-2 mb-2">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img height="30" src="{{ $manado.Permalink }}" alt="Logo Kota Manado">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Kota Manado
                    </div>
                </div>
            </div>
            <div class="shadow-sm p-3 me-2 mb-2">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img height="30" src="{{ $bitung.Permalink }}" alt="Logo Kota Bitung">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Kota Bitung
                    </div>
                </div>
            </div>
            <div class="shadow-sm p-3 me-2 mb-2">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img height="30" src="{{ $tomohon.Permalink }}" alt="Logo Kota Tomohon">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Kota Tomohon
                    </div>
                </div>
            </div>
            <div class="shadow-sm p-3 me-2 mb-2">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img height="30" src="{{ $kotamobagu.Permalink }}" alt="Logo Kota Kotamobagu">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Kota Kotamobagu
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>