<aside class="col-sm-4">
    <section class="main-heading pt-5">
        <h2 class="display-5 text-center text-serif lh-1 mb-5">Arti<br />Lambang</h2>
        <menu class="nav list-group list-group-flush" id="v-bentuk-tab" role="tablist" aria-orientation="vertical">
            <li class="nav-link active py-4 ps-5 list-group-item d-flex justify-content-between align-items-center" id="v-pills-bentuk-tab" data-bs-toggle="pill" data-bs-target="#v-pills-bentuk" role="tab" aria-controls="v-pills-bentuk" aria-selected="true">
                Bentuk/Bagian
                <span class="fa-solid fa-angle-right"></span>
            </li>
            <li class="nav-link py-4 ps-5 list-group-item d-flex justify-content-between align-items-center" id="v-pills-arti-tab" data-bs-toggle="pill" data-bs-target="#v-pills-arti" role="tab" aria-controls="v-pills-arti" aria-selected="false">
                Arti Warna
                <span class="fa-solid fa-angle-right"></span>
            </li>
        </menu>
    </section>
</aside>
<div class="lambang-field col-sm-8 text-bg-light">
    <div class="lambang-content p-5e">
        <div class="tab-content" id="v-pills-tabContent">
            <section class="tab-pane fade show active" id="v-pills-bentuk" role="tabpanel" aria-labelledby="v-pills-bentuk-tab" tabindex="0">
                {{ $lambang := resources.Get "/img/Coat_of_arms_of_North_Sulawesi.svg.png" }}
                <img class="mx-auto d-block mb-5" src="{{ $lambang.Permalink }}" alt="Logo Pemprov Sulut">
    
                <p>Lambang Sulawesi Utara berbentuk perisai segi lima berwarna biru langit dengan tepi kuning-jingga keemasan.</p>
                <p>Perisai segi lima dan 5 buah kelapa melambangkan Pancasila.</p>
                <p>Di dalam perisai terdapat simbol biji jagung disusun melingkar berjumlah 23 butir, pohon kelapa berpelepah 9, akar berjumlah 6, dan 4 tunas kelapa; semuanya melambangkan hari jadi provinsi Sulawesi Utara 23 September 1964.</p>
                <p>Di sisi kanannya terdapat rangkaian cengkih 17 buah, dan pala 8 buah, dan disebelah kirinya terdapat 45 putir padi merupakan simbol proklamasi kemerdekaan RI, 17 Agustus 1945.</p>
                <p>Simbol pohon kelapa, cengkih, pala, padi, dan jagung merupakan tumbuhan-tumbuhan utama yang menjadi andalan perekonomian Sulawesi Utara.</p>

                <ul>
                    <li><b>Warna dasar biru langit,</b> sisi luar berwarna kuning.</li>
                    <li>Sebelah kanan terdapat <b>buah pala terbuka</b>, berjumlah 8 (delapan) buah, kulitnya berwarna kuning, biji pala berwarna merah, dirangkaikan dengan buah cengkih 17 (tujuh belas) buah yang warnanya merupakan perpaduan Warna hijau kemuning dan warna hijau kecoklat-coklatan.</li>
                    <li>Angka-angka pada <b>cengkeh</b> 17 (tujuh belas) buah, <b>pala</b> 8 (delapan) buah, dan <b>padi</b> 45 (empat puluh lima) butir adalah simbol yang menunjukkan "Hari Proklamasi Kemerdekaan Negara Republik Indonesia" yaitu 17-8-1945.</li>
                    <li>Ditengah-tengah lingkaran <b>buah padi, cengkeh</b> dan pala terdapat 23 (dua puluh tiga) untaian <b>biji jagung</b> yang berbentuk bulatan, terdapat 1 (satu) <b>pohon kelapa berdaun</b> 9 (sembilan) mempunyai akar 6 (enam) dan di bawah pohon kelapa terdapat 4 (empat) <b>buah bibit kelapa</b> melambangkan berdirinya Provinsi Sulawesi Utara tanggal 23 September 1964.</li>
                    <li><b>Pohon kelapa, padi, pala, jagung dan cengkeh</b> menggambarkan keseluruhan kekayaan utama yang menjadi sumber hidup rakyat di daerah ini.</li>
                    <li>Dibagian bawah dari pohon kelapa terdapat <b>pita putih berbaris merah</b> dengan Warna hitam (warna bayangan) bertuliskan "SULAWESI UTARA" dengan Warna merah.</li>
                </ul>
            </section>
            <section class="tab-pane fade" id="v-pills-arti" role="tabpanel" aria-labelledby="v-pills-arti-tab" tabindex="0">
                <img class="mx-auto d-block mb-5" src="{{ $lambang.Permalink }}" alt="Logo Pemprov Sulut">
    
                <ul>
                    <li><b>Warna emas/orange</b> melambangkan kekayaan, keagungan.</li>
                    <li><b>Warna biru/hijau</b> melambangkan kemakmuran, kesuburan.</li>
                    <li><b>Warna kuning</b> melambangkan kesejahteraan, kebesaran dan keluhuran.</li>
                    <li><b>Warna merah</b> melambangkan keberanian, semangat yang menyala-nyala dan kecintaan kepada Negara dan Agama.</li>
                    <li><b>Warna putih</b> melambangkan kesucian, kedamaian.</li>
                    <li><b>Warna coklat</b> melambangkan kecintaan kepada Tanah Air.</li>
                    <li><b>Warna hitam</b> melambangkan kokoh, kuat, teguh dan kekal.</li>
                    <li><b>Warna ungu</b> melambangkan kebanggaan.</li>
                    </ul>
            </section>
        </div>
    </div>
</div>