{{ $gub := resources.Get "/img/GUB BAJU RESMI.webp" }}
{{ $wagub := resources.Get "/img/WAGUB BAJU RESMI.webp" }}

<aside class="col-sm-4">
    <section class="main-heading pt-5">
        <h2 class="display-5 text-center text-serif lh-1 mb-5">Pimpinan<br />Daerah</h2>
        <menu class="nav list-group list-group-flush" id="v-visimisi-tab" role="tablist" aria-orientation="vertical">
            <li class="nav-link active py-4 ps-5 list-group-item d-flex justify-content-between align-items-center" id="v-pills-gub-tab" data-bs-toggle="pill" data-bs-target="#v-pills-gub" role="tab" aria-controls="v-pills-gub" aria-selected="true">
                Gubernur
                <span class="fa-solid fa-angle-right"></span>
            </li>
            <li class="nav-link py-4 ps-5 list-group-item d-flex justify-content-between align-items-center" id="v-pills-wagub-tab" data-bs-toggle="pill" data-bs-target="#v-pills-wagub" role="tab" aria-controls="v-pills-wagub" aria-selected="false">
                Wakil Gubernur
                <span class="fa-solid fa-angle-right"></span>
            </li>
        </menu>
    </section>
</aside>
<div class="pimpinan-field col-sm-8 text-bg-light">
    <div class="pimpinan-content p-5e">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-gub" role="tabpanel" aria-labelledby="v-pills-gub-tab" tabindex="0">
                <img class="mx-auto d-block mb-5" src="{{ $gub.Permalink }}" alt="Foto Gubernur Sulut" height="200">
                <h3 class="display-6 text-center mb-5">Prof. (HC) DR. (HC) Olly Dondokambey, SE.</h3>
                <table class="table">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <strong>Data Diri</strong>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>Nama Lengkap</td>
                            <td>PROF. (HC) DR. (HC) OLLY DONDOKAMBEY, SE</td>
                        </tr> -->
                        <tr>
                            <td>Tempat Tanggal Lahir</td>
                            <td>MANADO, 18 NOVEMBER 1961</td>
                        </tr>
                        <tr>
                            <td>Agama</td>
                            <td>KRISTEN PROTESTAN</td>
                        </tr>
                        <tr>
                            <td>Jabatan</td>
                            <td>Gubernur Provinsi Sulawesi Utara</td>
                        </tr>
                        <tr>
                            <td>Alamat</td>
                            <td>Jl. 17 Agustus Kompleks Bumi Beringin, Kec. Wenang, Kota Manado</td>
                        </tr>
                        <tr>
                            <td>Riwayat Pendidikan</td>
                            <td>
                                <ol>
                                    <li>SD NEGERI 9 MANADO</li>
                                    <li>SMP NEGERI 2 MANADO</li>
                                    <li>SMA NEGERI 2 MANADO</li>
                                    <li>AKADEMI AKUNTANSI MANADO</li>
                                    <li>STIE TRI DHARMA WIDYA JAKARTA</li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td>Riwayat Pekerjaan</td>
                            <td>
                                <ol>
                                    <li>2004 - 2009 Anggota DPR RI</li>
                                    <li>2009 - 2014 Anggota DPR RI</li>
                                    <li>2014 - 2015 Anggota DPR RI</li>
                                    <li>2016 - 2021 Gubernur Sulawesi Utara</li>
                                    <li>2021 - Sekarang Gubernur Sulawesi Utara</li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td>Organisasi</td>
                            <td>
                                <ol>
                                    <li>2005 - 2010 Wakil Ketua DPD PDI Perjuangan Sulut</li>
                                    <li>2010 - Sekarang Bendahara PDI P</li>
                                    <li>2012 Sekarang Ketua DPD PDI P Sulut</li>
                                    <li>2011 - 2020 Ketua Koni Sulut</li>
                                    <li>2019 - Sekarang Ketua 1 MPH PGI</li>
                                    <li>2020 - Sekarang Ketua BPKRS</li>
                                </ol>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-wagub" role="tabpanel" aria-labelledby="v-pills-wagub-tab" tabindex="0">
                <img class="mx-auto d-block mb-5" src="{{ $wagub.Permalink }}" alt="Foto Wakil Gubernur Sulut" height="200">
                <h3 class="display-6 text-center mb-5">Drs. Steven Octavianus Estefanus Kandouw</h3>
                <table class="table">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <strong>Data Diri</strong>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>Nama Lengkap</td>
                            <td>Drs. Steven Octavianus Estefanus Kandouw</td>
                        </tr> -->
                        <tr>
                            <td>Tempat Tanggal Lahir</td>
                            <td>TONDANO, 05 SEPTEMBER 1969</td>
                        </tr>
                        <tr>
                            <td>Agama</td>
                            <td>KRISTEN PROTESTAN</td>
                        </tr>
                        <tr>
                            <td>Jabatan</td>
                            <td>Wakil Gubernur Provinsi Sulawesi Utara</td>
                        </tr>
                        <tr>
                            <td>Alamat</td>
                            <td>Jl. 17 Agustus Kompleks Bumi Beringin, Kec. Wenang, Kota Manado</td>
                        </tr>
                        <tr>
                            <td>Riwayat Pendidikan</td>
                            <td>
                                <ol>
                                    <li>SD NEGERI 9 TONDANO</li>
                                    <li>SMP SANTA URSULA JAKARTA</li>
                                    <li>SMA KANISIUS JAKARTA</li>
                                    <li>S-1 ILMU POLITIK FAKULTAS ILMU SOSIAL DAN ILMU POLITIK UNIVERSITAS INDONESIA</li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td>Riwayat Pekerjaan</td>
                            <td>
                                <ol>
                                    <li>Komisaris PT. Wijaya Kusuma</li>
                                    <li>Direktur PT. Anggrek</li>
                                    <li>Anggota DPRD Sulawesi Utara (2004 - 2014)</li>
                                    <li>Ketua DPRD Sulawesi Utara (2014 - 2015)</li>
                                    <li>Wakil Gubernur Sulawesi Utara (2016 - Sekarang)</li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td>Organisasi</td>
                            <td>
                                <ol>
                                    <li>Wakil Ketua Bidang Organisasi DPD PDIP Sulawesi Utara</li>
                                    <li>Bendahara Komite Olahraga Nasional Indonesia (KONI) Sulawesi Utara</li>
                                    <li>Ketua Gabungan Bridge Seluruh Indonesia (GABSI) Sulawesi Utara</li>
                                    <li>Penasihat Pengprov Ikatan Motor Indonesia (IMI) Sulawesi Utara</li>
                                    <li>Ketua Palang Merah Indoensia (PMI) Sulawesi Utara</li>
                                    <li>Wakil Ketua BPMS GMIM Bidang Pengembangan Sumber Daya dan Diakonia (PSDD)</li>
                                    <li>Ketua KONI Sulawesi Utara</li>
                                </ol>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>