<aside class="col-sm-4">
    <section class="main-heading pt-5">
        <h2 class="display-5 text-center text-serif lh-1 mb-5">Visi Misi Pemerintah</h2>
        <menu class="nav list-group list-group-flush" id="v-visimisi-tab" role="tablist" aria-orientation="vertical">
            <li class="nav-link active py-4 ps-5 list-group-item d-flex justify-content-between align-items-center" id="v-pills-visi-tab" data-bs-toggle="pill" data-bs-target="#v-pills-visi" role="tab" aria-controls="v-pills-visi" aria-selected="true">
                Visi
                <span class="fa-solid fa-angle-right"></span>
            </li>
            <li class="nav-link py-4 ps-5 list-group-item d-flex justify-content-between align-items-center" id="v-pills-misi-tab" data-bs-toggle="pill" data-bs-target="#v-pills-misi" role="tab" aria-controls="v-pills-misi" aria-selected="false">
                Misi
                <span class="fa-solid fa-angle-right"></span>
            </li>
        </menu>
    </section>
</aside>
<div class="visimisi-field col-sm-8 text-bg-light">
    <div class="visimisi-content p-5e">
        <div class="tab-content" id="v-pills-tabContent">
            <section class="tab-pane fade show active" id="v-pills-visi" role="tabpanel" aria-labelledby="v-pills-visi-tab" tabindex="0">
                <h3 class="display-6">
                    Sulawesi Utara Maju dan Sejahtera sebagai Pintu Gerbang Indonesia ke Asia Pasifik.
                </h3>
            </section>
            <div class="tab-pane fade" id="v-pills-misi" role="tabpanel" aria-labelledby="v-pills-misi-tab" tabindex="0">
                <ol>
                    <li>
                        Peningkatan Kualitas Manusia Sulawesi Utara
                    </li>
                    <li>
                        Penguatan Ekonomi yang Bertumpu pada Industri Pertanian, Perikanan, Pariwisata dan Jasa
                    </li>
                    <li>
                        Pembangunan Infrastruktur dan Perluasan Konektivitas
                    </li>
                    <li>
                        Pembangunan Daerah yang Berkelanjutan
                    </li>
                    <li>
                        Pemerintahan yang Baik dan Bersih Didukung oleh Sinergitas Antar Daerah
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>