{{ define "main" }}
<section id="lambang">
    <div class="container py-5">
        <div class="row g-0">
            {{ partial "lambang" . }}
        </div>
    </div>
</section>
<section id="pimpinan">
    <div class="container py-5">
        <div class="row g-0">
            {{ partial "pimpinan" . }}
        </div>
    </div>
</section>
<section id="visimisi">
    <div class="container py-5">
        <div class="row g-0">
            {{ partial "visimisi" . }}
        </div>
    </div>
</section>
<section id="demografi" class="">
    <div class="container py-5">
        <div class="row g-0">
            {{ partial "demografi" . }}
        </div>
    </div>
</section>
<section id="investasi">
    <div class="container">
        <div class="row g-0">
            {{ partial "investasi" . }}
        </div>
    </div>
</section>
<section id="kabkota">
    <div class="container pt-5">
        <div class="row g-0">
            {{ partial "kabkota" . }}
        </div>
    </div>
</section>
{{ end }}